<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }
    .player-img {
        width: 40px;
        height: 40px;
    }
    .add-player-form {
        margin-top: 50px;
    }
</style>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("form#changeQuote").on('submit', function(e){
            e.preventDefault();
            var data = $('input[name=quote]').val();
            $.ajax({
                type: 'post',
                url: '/clients',
                data: data,
                dataType: 'text'
            })
            .done(function(data){
                console.log("sucess")
                $('h1').html(data.quote);
            });
        });

        $('input').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('data-url');
            var type = $(this).attr('data-type');
            
            $.ajax({
                type: type,
                url: url,
            })
            .done(function(data){
                $('body').html(data);
            });
        });
    });
</script>
<body>
<div class="page-wrapper">
    